/* -------------------------------------------- IMPORTS --------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -------------------------------------------- INIT --------------------------------------------*/
:root {
    --white: #eef3e8;
    --black: #2b2b2b;
    --darkgreen: #25351d;
    --medgreen: #4f6b3c;
    --lightgreen: #c8d2bf;

    --titlefont: "Atkinson Hyperlegible", sans-serif;
    --textfont: "Nunito", sans-serif;
    --secondaryfont: "IBM Plex Sans", sans-serif;

    --cards-gap: 2em;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
}

html, body, header, h1, h2, h3, h4, h5, h6, ul, li, a, dt, dd {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titlefont);
}

h1 {
    font-size: 3rem;
    color: var(--medgreen);
    margin: 1em auto;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem
}

header ul, header li {
    list-style: none;
}

p, ul, li, a, dd, dt {
    font-family: var(--textfont);
    font-size: 1.2rem;
}

dt {
    font-weight: bold;
}

p, dd {
    text-indent: 2rem;
}

figcaption, figcaption * {
    font-family: var(--textfont);
    font-size: 0.8rem;
    text-align: center;
}

.latin {
    font-style: italic;
}

/* -------------------------------------------- HEADER AND MENU --------------------------------------------*/
header {
    background-color: var(--medgreen);
    color: var(--white);
    position: sticky;
    top: 0;
    width: 100%;
}

header nav > ul {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
}

header nav > ul > li {
    position: relative;
}

header nav .main-menu-title, header nav .main-menu-home .home {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

header nav li.main-menu, header nav li.main-menu-home {
    position: relative;
}

.main-menu-home .menu, .main-menu-home .menu .sub-menu{
    height: 100%;
    box-sizing: border-box;
}

header nav li.main-menu span.main-menu-title {
    display: block;
    padding: 0.5rem 1rem;
}

header nav li.main-menu ul.menu, header nav li.main-menu-home ul.menu {
    padding: 0;
}

header nav li.main-menu ul.menu {
    display: none;
    position: absolute;
    top: 100%;
}

header nav li.main-menu:hover > ul.menu {
    display: block;
}

header nav li.main-menu:hover > span.main-menu-title {
    background-color: var(--darkgreen);
}

header nav li.sub-menu {
    background-color: var(--medgreen);
    white-space: nowrap;
}

header nav li.sub-menu a.sub-menu-link {
    display: block;
    text-decoration: none;
    color: var(--white);
    height: 100%;
    padding: 5px 8px;
}

header nav li.sub-menu a.sub-menu-link:hover {
    color: var(--white);
    background-color: var(--darkgreen);
}

header nav li.sub-menu a.sub-menu-link:active {
    color: var(--medgreen);
    background-color: var(--lightgreen);
}

header nav li.sub-menu a.sub-menu-link.home {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 16px;
}

header nav a.home img.logo-img {
    height: 2rem;
    border-radius: 50%;
}

/* -------------------------------------------- MAIN --------------------------------------------*/
main {
    padding: 1rem;
    flex: 1;
}

main p, main li, main dt, main dd {
    line-height: 1.5;
}

p.redirect {
    margin: auto;
    width: fit-content;
}

main section {
    margin: 2rem 5%;
}

main h1 {
    text-align: center;
}

main h2 {
    color: var(--medgreen);
    border-bottom: 4px solid var(--medgreen);
    margin: 0.7em 0;
    padding-bottom: 0.3rem;
}

main h3 {
    color: var(--medgreen);
}


.cards, .infos {
    display: flex;
    gap: var(--cards-gap);
}

.infos {
    flex-direction: column;
}

.cards {
    flex-wrap: wrap;
    justify-content: center;
}

.card, .info {
    border: 2px solid var(--medgreen);
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}

.card p, .info p, .info li {
    padding: 0.5rem;
    margin: 0;
    text-align: justify;
}

.info dt, .info dd {
    padding: 0 0.5rem;
}

.info ul {
    list-style: disc inside;
    margin: 0.5em auto;
}

.info ul li {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 2rem;
}

.info .grid-content, .info .grid-content-reverse, .info .triple-grid-content {
    display: grid;
}

.info .grid-content {
    grid-template-columns: 2fr 1fr;
}

.info .grid-content-reverse {
    grid-template-columns: 1fr 2fr;
}

.info .triple-grid-content {
    grid-template-columns: 1fr 2fr 1fr;
}

.info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .media {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    line-height: 1em;
}

.info img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
    margin: auto;
    box-sizing: border-box;
}

.info img.no-border-radius {
    border-radius: 0;
}

.info figure {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.info iframe {
    width: 100%;
    aspect-ratio: 16 / 10;
    border: none;
    border-radius: 1rem;
}

.card {
    flex: 0 0 calc((100% - 2 * var(--cards-gap)) / 3);
}

.card h3, .info h3 {
    padding: 0.5rem;
    background-color: var(--lightgreen);
    text-align: center;
    overflow: hidden;
}



.card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    max-height: 20rem;
    border: none;
    margin: auto;
    padding: 0;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

.card img.tools {
    width: fit-content;
}

.card ol.tasks {
    margin: 0;
    padding: 0 0.5rem 1rem 2.5rem;
    list-style: decimal;
}

.card ol.tasks li {
    padding: 0;
    text-align: justify;
    display: list-item;
}

/* -------------------------------------------- MEDIA --------------------------------------------*/
main img, main video, main audio {
    font-family: var(--secondaryfont);
    border-radius: 1rem;
    margin: 5px;
    padding: 5px;
    color: var(--darkgreen);
}

/* -------------------------------------------- SPECIFICS --------------------------------------------*/
.page-hero img {
    display: block;
    width: 350px;
    margin: auto;
}

.slideshow {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

img.redirect {
    display: block;
    margin: 1em auto;
}

/* -------------------------------------------- FOOTER --------------------------------------------*/
footer {
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    min-height: 10rem;
    margin-top: 3rem;
}

footer p {
    margin: 0;
    color: white;
    width: fit-content;
    max-width: 70%;
    text-align: center;
}

footer a {
    text-decoration: none;
    padding: 0;
    border: 2px solid var(--darkgreen);
    display: block;
    width: fit-content;
    margin: auto;
}

footer a:hover {
    border-color: var(--lightgreen);
}

footer a:active {
    color: var(--lightgreen);
    border-color: var(--medgreen);
}

footer img {
    height: 1.5rem;
    display: block;
    margin: auto;
}

.info a:has(img.cc-logo), .card a:has(img.cc-logo) {
    display: block;
    width: fit-content;
    margin: auto;
}

.info img.cc-logo, .card img.cc-logo {
    border-radius: 0;
    height: 2rem;
    margin: auto;
    width: auto;
}